<template name="events_next">
<h1>Next Meetup</h1>
<div class="next_meetup">
  <h2>{{title}} - <em>{{tagline}}</em></h2>
  <div class="event_date">{{event_date}}</div>
  <div class="event_location">{{event_location}}</div>
  <div class="event_sessions">
    {{#each sessions}}
      <h1 class="session_name">{{title}} <small class="session_start_time">{{startTime}}</small></h1>
      {{#each speakers}}
        <h3 class="speaker_name">{{name}}</h3>
      {{/each}}
    {{/each}}
  </div>
  <p>See more on <a href="{{url}}" target="_blank">Lanyrd page for {{title}}</a></p>
</div>
</template>
