<template name="events_next">

<div class="next_meetup item">
  <h2>{{title}} <small>{{event_date}}</small></h2>
  <p>
    <em>{{tagline}}</em><br>
    {{event_location}}
  </p>

  <div class="event_sessions">
    {{#each sessions}}
      <h4 class="session_name">{{startTime}} &middot; {{title}} </h4>
      {{#each speakers}}
        <h4 class="speaker_name">{{name}}</h4>
      {{/each}}
    {{/each}}

  </div>
  <p><a href="{{url}}" target="_blank">Event page on Lanyrd</a></p>
</div>
</template>
