//@import 'packages/bootstrap3-sass/bootstrap';
@import "_variables";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/variables";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/mixins";


@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/normalize";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/print";
// Core CSS
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/scaffolding";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/type";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/code";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/grid";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/tables";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/forms";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/component-animations";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/glyphicons";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/dropdowns";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/button-groups";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/input-groups";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/navs";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/navbar";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/pagination";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/pager";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/labels";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/badges";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/jumbotron";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/thumbnails";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/alerts";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/progress-bars";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/media";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/list-group";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/panels";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/wells";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/modals";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/tooltip";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/popovers";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/utilities";
@import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/responsive-utilities";

@import 'packages/font-awesome-sass/font-awesome';

.navbar-brand {
  padding: 0;
  padding-left: 15px;
}

header img.logo {
  width: 80px;
}


